.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

main {
  display: flex;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.game-board {
  margin-right: 20px;
}

.game-info {
  margin-left: 20px;
  text-align: left;
}

.board-row {
  display: flex;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  width: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

ol {
  padding-left: 30px;
}

button {
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
